@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-touch";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-heading: var(--font-heading);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

[data-reach-skip-nav-link] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

[data-reach-skip-nav-link]:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}
