@import "tailwindcss";
@import "@prose-ui/style/prose-ui.css";
@import "@prose-ui/style/katex.css";

@plugin "@tailwindcss/forms";
@plugin "tailwindcss-touch";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: "Work Sans Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.prose-ui {
  --p-body-color-bg: "transparent";
  --p-h2-font-family: var(--font-heading);
  --p-h3-font-family: var(--font-heading);
  --p-h4-font-family: var(--font-heading);
  --p-h5-font-family: var(--font-heading);
  --p-h6-font-family: var(--font-heading);
}

[data-reach-skip-nav-link] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

[data-reach-skip-nav-link]:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

.custom-snippet .shiki {
  padding: 0.5rem 1rem;
}

html.dark .custom-snippet .shiki,
html.dark .custom-snippet .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
