---
interface Props {
  href: string;
  [key: string]: unknown;
}

const { href, ...props } = Astro.props;
const isInternal = href.startsWith("/");
const isAnchor = href.startsWith("#");
---

{
  isInternal ? (
    <a href={href} {...props}>
      <slot />
    </a>
  ) : isAnchor ? (
    <a href={href} {...props}>
      <slot />
    </a>
  ) : (
    <a href={href} target="_blank" rel="noopener noreferrer" {...props}>
      <slot />
    </a>
  )
}
