---
interface Props {
  data: {
    headers: string[];
    rows: string[][];
  };
}

const { data } = Astro.props;
---

<table>
  <thead>
    <tr>
      {data.headers.map((header) => <th>{header}</th>)}
    </tr>
  </thead>
  <tbody>
    {
      data.rows.map((row) => (
        <tr>
          {row.map((cell) => (
            <td>{cell}</td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
