---
import { getCollection, type CollectionEntry } from "astro:content";
import PostListItem from "./PostListItem.astro";

type BlogEntry = CollectionEntry<"blog">;

const posts: BlogEntry[] = (
  await getCollection("blog", ({ data }: BlogEntry) => {
    return data.published !== false && data.published !== "false";
  })
).sort((a: BlogEntry, b: BlogEntry) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<h1
  class="text-2xl font-semibold text-balance text-gray-700 dark:text-gray-300"
>
  Latest Posts
</h1>
<div class="mt-8 flex flex-col gap-y-12">
  {
    posts.map((post) => (
      <PostListItem
        title={post.data.title}
        date={post.data.date}
        slug={post.id}
      />
    ))
  }
</div>
